body {
  text-align: center;
}

.container {
  max-width: 800px;
  text-align: center;
  margin-left: 22%;
}

h1 {
<<<<<<< HEAD
  background-color: #red;
=======
  background-color: yellow;
>>>>>>> Marcin2
  margin: 0;
}

p {
  background-color: #FF9F79;
}